.form__container{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

button{
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 12px 0;
}

.input-field input{
    display: block;
}