* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
  background-color: #f2d0cc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__menu {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.banner {
  padding: 100px 80px;
  background-image: url(images/banner-background.webp);
  background-size: cover;
  background-position: center;
}

.banner__title {
  margin-bottom: 40px;
}

.banner__card {
  width: 500px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.489);
  border-radius: 8px;
}

.banner__card .card__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.banner__card .card__content {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.banner__card .card__img {
  width: 40%;
  border-radius: 8px;
  overflow: hidden;
}

.banner__card .card__img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.banner__card .card__info {
  width: 60%;
  padding-left: 16px;
}

.banner__btn {
  padding: 8px 16px;
  border: 0;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.banner__btn:hover {
  background-color: #fff;
  color: #000;
}
